* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid white;
}
.navbar > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar > ul > li > a {
  color: white;
  text-decoration: none;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup > input {
  display: block;
  margin-block: 20px;
  width: 100%;
  padding-block: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: transparent;
}

.signup > input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.signup > button,
.profile > button {
  padding: 10px 40px;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
}

.feedback {
  margin-block: 10px;
  font-size: 15px;
}

.error {
  color: red;
}
.success {
  color: green;
}

.profile > * {
  margin-block: 30px;
  font-size: 30px;
}
